Body { 
background-color: #EEE;
}

#container{
	background-color: white;
	width: 800px;
	margin-right: auto;
	margin-left: auto;
}

#header{
	font: sans-serif;
	font-weight: bold;
	background-color: blue;
	text-align: center;
	float: center;

}

#tablePlaceholder{
	background-color: green;
	padding: 10px 10px 10px 10px;
	float: left;
}

#statsTable{
	background-color: red;
	padding: 10px 10px 10px 10px;
	float: left;
}

#footer{
	background-color: yellow;
	padding: 10px 10px 10px 10px;
	float: left;
	clear: both;
}
